black
flake8
fastapi
ipython
isort
jupyterlab
loguru
matplotlib
mlflow
mkdocs
notebook
optuna
numpy
pandas
pyarrow
pip
pytest
python-dotenv
scikit-learn
scipy
streamlit
tqdm
torchvision
torch
typer
uvicorn
xgboost
-e .
